{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div style="background-color: rgba(148,187,233,1);
               font-family: 'Roboto', sans-serif;
               margin-left: 200px;
            margin-right: 200px;
            margin-top: 10px;
            text-align: center;
            height: 525px;">
    <h1  style="padding:20px; 
    background-color: rgba(148,187,233,1);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    height:100px;
    font-size: 50;">Contact Us</h1>

        <h3 style="padding:20px; 
        background-color: rgba(148,187,233,1);
        font-family: 'Bebas Neue', cursive;
        text-align: left;
        font-size: 30;
        margin-left: 25%;"><i class="far fa-envelope"></i>  SONAL MAHESHWARI</h3>

         <p style="color: white;
             width: 700px;
             text-align: justify;
             margin-left: 25%;
             "> Backend Developer, 3rd year student at Chandigarh University</p>
        <div style="color: white;
        width: 700px;
        text-align: justify;
        margin-left: 25%"><a href="mailto:webmaster@example.com">maheshwarisona015@gmail.com</a></div>


        <h3 style="padding:20px; 
        margin-top: 10px;
        background-color: rgba(148,187,233,1);
        font-family: 'Bebas Neue', cursive;
        text-align: left;
        font-size: 30;
        margin-left: 25%;"><i class="far fa-envelope"></i>  MANVIR KAUR</h3>

        <p style="color: white;
            width: 700px;
            text-align: left;
            margin-left: 25%;;
            "> Frontend Developer, 3rd year student at Chandigarh University</p>
        <div style="color: white;
        width: 700px;
        text-align: justify;
        margin-left: 25%;
        padding-bottom: 200px;"><a href="mailto:manvirkaur745@gmail.com">manvirkaur745@gmail.com</a></div>

</div>
{% endblock %}