{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<head>
    <style>
     div>p{
         padding-left: 200px;
     }
    </style>
</head>
<div style="background-color: rgb(238,174,202);
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 10px;
            text-align: center;
            height: 525px;">
    <h1  style="padding:20px; 
    background-color: rgb(238,174,202);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    height:100px;
    font-size: 50;">About Us</h1>
    
         <p style="color: white;
             width: 900px;
             text-align: justify;
             margin-top: 30px;
             font-family: 'Roboto', sans-serif;
             ">
        This application is developed by Sonal Maheshwari and Manvir Kaur.
        The intent of this web application is to put our full stack development skills to test 
        and develop a useful application that can assist learners in availing high quality study material.</p>

        <p style="color: white;
        width: 900px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        ">
        The front end of this application is developed by Manvir Kaur. HTML, CSS and Javascript are the technologies are 
        used to achieve the look of this website.
        </p>


        <p style="color: white;
        width: 900px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        ">
        The backend of the application is developed by Sonal Maheshwari. Python language has been utilized to achieve the functionality of the application.
        Django framework has been used to develop this website. 
        </p>


        <p style="color: white;
        width: 900px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        ">
        Our objective is to make study material more accesible to learners.
        </p>


        <p style="color: white;
        width: 900px;
        text-align: justify;
        padding-bottom: 100px;
        font-family: 'Roboto', sans-serif;
        ">
        Happy Studying!
        </p>
  
  

</div>


{% endblock %}