{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


<head>
    <style>
        .errorlist{
            list-style-type: none;
            color: rgb(247, 8, 20);
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
        }
        .lab{
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .tg{
            font-family: sans-serif;
        }
    </style>
</head>
<div class="container mt-5">
    <h2 class="text-center">UPLOAD NOTES</h2><br>
    <div class="row">
        
        <div class="col-sm-6">
         <span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px;">  Add your subjects here if not available in subject list-------------></span>
            
            
        </div>
                <div class="col-sm-6">
                    
                    

            <form action = "{% url 'add_subject' %}" method="POST" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    <span class="lab" >{{fm.label_tag}}</span>  <span class="tg"> {{fm}} </span><small class="text-warning" > <span class="errorlist"> {{fm.errors|striptags}}</span></small>
                    
                
            </div>
                {% endfor %}

                <input type="submit" class="btn-btn-danger mt-2" value="SUBMIT">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
                </form>
                
                   </div>

        </div>
        </div>


    


{% endblock %}