{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}
<div class="container mt-5" >
    <h2 class="text-center"> EDIT PROFILE</h2>
    <hr>
    <center>
    <div class="row" style="padding-right:30%">
        <div class="col-sm-6"></div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name:</label>
                        <input type="text" class="form-control" value="{{user.first_name}}" name="firstname">
                    </div>
                    <div class="form-group col-md-6">
                        <label>last Name:</label>
                        <input type="text" class="form-control" value="{{user.last_name}}" name="lastname">
                    </div>
                    
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Email :</label>
                        <input type="text" class="form-control" value="{{user.email}}" name="emailid" >
                    </div> 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Username(can not changed):</label>
                        <input type="text" class="form-control" value="{{user.username}}" name="username" readonly>
                    </div> 
                </div>

                
                <input type="submit" value="Update" class="btn btn-primary mt-5">

                
            </form>
        </div>
        </center>
    </div>

{% if error %}
<script>
    alert('Profile updated successfully')
    window.location="{% url  'profile' %}";

</script>
{% endif %}
{% endblock %}