{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h2 class="text-center">profile</h2>
    <div class="row">
        <div class="col-md-6">
            <b>Full name:</b>
        </div>
        <div class="col-md-6" >
            <b>{{user.first_name}} {{user.last_name}}</b>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>email id:</b>
        </div>
        <div class="col-md-6">
            <b>{{user.email}} </b>
        </div>
    </div>
    <hr>
<a href="{% url 'edit_profile' %}" class="btn btn-primary mt-5">edit profile</a>
</div>
{% endblock %}