<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>to get the majority of sentiments of 20 tweets related to particular search word</title>
</head>
<body>
<form action="/twit1" method="POST">
  <label for="fname">search word:</label>
  <input type="text" id="fname" name="fname"><br>
    <label for="dat">search date:</label>
<input type="date" id="dat" name="dat">
  <input type="submit" >
</form>



 <div class="col-md-3">
          <h1>majority of tweets having Sentiment</h1>
          <div class="alert alert-primary" role="alert">
            {% if name %}
              {{ sentiment }}
               {% endif %}
          </div>
        </div>



        <!--Image -->
            <div class="col-sm-6"></div>
              {% if name %}
                <div class="col-sm-2"><h1>Emotion</h1>
                <img src="{{ image }}" alt="Image">
              {% endif %}
            </div>
        <!--Image-->
      </div>
    </div>

<p> show word cloud:</p>
<div class="col-sm-6"></div>
              {% if name %}
                <div class="col-sm-2">
                  <img src="data:image/png;base64,{{ result2 }}" width="500">
              {% endif %}
            </div>
        <!--Image-->
      </div>
    </div>
    <a href="{{ url_for('submit_data') }}">go back</a>
</body>
</html>