.nav-link
{
    color:white;
    font-size: 20px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
.nav-link:hover
{
    color:rgb(238,174,202) ;
    
}
.top-class
{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
    color:white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
    font-size:5.5em;
    align-content: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}